*,
** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #020719;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container-table {
  display: table;
  width: 90%;
  margin: 0 auto;
  background-color: #02050f;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container-thead {
  display: table-header-group;
  background-color: #000;
}

.container-tr {
  display: table-row;
}

.container-th {
  display: table-cell;
  padding: 16px;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #111;
  text-align: left;
}

.container-tbody {
  display: table-row-group;
}

.container-tbody tr:hover {
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-td {
  display: table-cell;
  padding: 12px 16px;
  border-bottom: 1px solid #111;
  color: #fff;
}

.container-th:nth-child(1),
.container-td:nth-child(1) {
  width: 20%;
}

.container-th:nth-child(2),
.container-td:nth-child(2) {
  min-width: 150px;
  width: 40%;
}

.container-th:nth-child(3),
.container-td:nth-child(3) {
  min-width: 220px;
  width: 25%;
}

.container-th:nth-child(4),
.container-td:nth-child(4) {
  width: 15%;
}
.container-th:nth-child(5),
.container-td:nth-child(5) {
  min-width: 100px;
  width: 15%;
}

.container-table-servicios {
  display: table;
  width: 90%;
  margin: 0 auto;
  background-color: #02050f;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container-thead-servicios {
  display: table-header-group;
  background-color: #000;
}

.container-tr-servicios {
  display: table-row;
}

.container-th-servicios {
  display: table-cell;
  padding: 16px;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #111;
  text-align: left;
}

.container-tbody-servicios {
  display: table-row-group;
}

.container-tbody-servicios tr:hover {
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-td-servicios {
  display: table-cell;
  padding: 12px 16px;
  border-bottom: 1px solid #111;
  color: #fff;
}

.container-th-servicios:nth-child(1),
.container-td-servicios:nth-child(1) {
  width: 80%;
}

.container-th-servicios:nth-child(2),
.container-td-servicios:nth-child(2) {
  width: 20%;
}

.container-th-servicios:nth-child(3),
.container-td-servicios:nth-child(3) {
  min-width: 100px;
  width: 15%;
}

.container-table-presupuestos {
  display: table;
  width: 90%;
  margin: 0 auto;
  background-color: #02050f;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container-thead-presupuestos {
  display: table-header-group;
  background-color: #000;
}

.container-tr-presupuestos {
  display: table-row;
}

.container-th-presupuestos {
  display: table-cell;
  padding: 16px;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #111;
  text-align: left;
}

.container-tbody-presupuestos {
  display: table-row-group;
}

.container-tbody-presupuestos tr:hover {
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-td-presupuestos {
  display: table-cell;
  padding: 12px 16px;
  border-bottom: 1px solid #111;
  color: #fff;
}

.container-th-presupuestos:nth-child(1),
.container-td-presupuestos:nth-child(1) {
  width: 10%;
}

.container-th-presupuestos:nth-child(2),
.container-td-presupuestos:nth-child(2) {
  width: 10%;
}

.container-th-presupuestos:nth-child(3),
.container-td-presupuestos:nth-child(3) {
  width: 10%;
}

.container-th-presupuestos:nth-child(4),
.container-td-presupuestos:nth-child(4) {
  width: 10%;
}

.container-th-presupuestos:nth-child(5),
.container-td-presupuestos:nth-child(5) {
  width: 80%;
}

.header {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-top: 20px;
}

.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
}

.navbar-nav .nav-item {
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item:hover {
  background-color: #021127;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #fff;
}

.container-th-users {
  display: table-cell;
  padding: 16px;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid #111;
  text-align: left;
}
.container-td-users {
  display: table-cell;
  padding: 12px 16px;
  border-bottom: 1px solid #111;
  color: #fff;
}

.container-th-users:nth-child(1),
.container-td-users:nth-child(1) {
  width: 10%;
  text-align: center;
}

.container-th-users:nth-child(2),
.container-td-users:nth-child(2) {
  width: 20%;
  text-align: center;
}

.container-th-users:nth-child(3),
.container-td-users:nth-child(3) {
  width: 20%;
  text-align: center;
}

.container-th-users:nth-child(4),
.container-td-users:nth-child(4) {
  width: 20%;
  text-align: center;
}

.container-th-users:nth-child(5),
.container-td-users:nth-child(5) {
  width: 20%;
  text-align: center;
}
